body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("./images/b-459.jpg");
  font-family: "Arial", sans-serif;
  color: #ffffff;
}

#root {
  width: 100%;
  height: 100%;
}

.window {
  border-radius: 15px;
  border: 5px solid #ffffff5e;
  padding: 40px;
  text-align: center;
  width: 30vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(15px);
  margin: 0 auto;
}

.title {
  font-weight: bold;
  color: #ffd700;
  font-size: 2.5vmin;
}

.label,
.value {
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffffff;
  font-size: 2vmin;
}
.label {
  margin-top: 10px;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 auto;
  width: 5rem;
  height: 2rem;
  color: black;
  background-color: #ffffff;
}

.buttons {
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 3vmin;
  border-bottom: 4px solid #ffffff5e;
  align-items: center;
}

.no-border {
  border: none;
}

.button {
  position: relative;
  background: rgb(37, 37, 37);
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 10px 32px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background 0.3s;
  font-weight: bold;
}

.button::before {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: linear-gradient(
    45deg,
    #ff4500,
    #ffa500,
    #ffd700,
    #ffa500,
    #ff4500,
    #ffdd00,
    #ff4500,
    #ffdd00
  );
  background-size: 800%;
  border-radius: 10px;
  filter: blur(10px);
  animation: glowing 20s linear infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Consulta de medios para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .window {
    width: 80vw;
    height: 50vh;
    padding: 10px;
  }

  .title {
    height: auto;
    color: #ffd700;
    font-size: 5vmin;
    margin-top: 10px;
  }

  .label,
  .value {
    font-size: 3vmin;
    margin-top: 1.5vmin;
    margin-bottom: 6vmin;
  }

  .buttons {
    flex-direction: row;
    margin-top: 3vmin;
  }

  .button {
    height: 2.5rem;
    width: 10rem;
    padding: 8px 16px;
    margin-bottom: 6vmin;
  }
}
